In [1]:
import pandas as pd
import io
import requests
import yfinance as yf

# Get SET50 symbols (As of 30 December 2025)

In [2]:
# 1. Wikipedia URL for SET50 components
url = "https://en.wikipedia.org/wiki/SET50_Index_and_SET100_Index"

# 2. Fetch the page with headers to avoid being blocked
headers = {'User-Agent': 'Mozilla/5.0'}
response = requests.get(url, headers=headers)

# 3. Read the first table into a DataFrame
# We wrap the text in StringIO to follow the latest pandas requirements
tables = pd.read_html(io.StringIO(response.text))
df_set50 = tables[0]

# 4. Clean and format the symbols
# Extract the 'Symbol' column and add '.BK' suffix for yfinance
raw_symbols = df_set50['Symbol'].tolist()
yf_symbols = [f"{symbol.strip()}.BK" for symbol in raw_symbols]

# Add CENTEL.BK
yf_symbols.append('CENTEL.BK')

# Delete KCE.BK
yf_symbols.remove('KCE.BK')
yf_symbols.remove('BCP.BK')

# Sort and Print 5 symbols per row
yf_symbols.sort()

# 5. Output results
print(f"Total Symbols Found: {len(yf_symbols)}")
print("-" * 30)
print(yf_symbols)

Total Symbols Found: 50
------------------------------
['ADVANC.BK', 'AOT.BK', 'AWC.BK', 'BANPU.BK', 'BBL.BK', 'BDMS.BK', 'BEM.BK', 'BH.BK', 'BJC.BK', 'BTS.BK', 'CBG.BK', 'CCET.BK', 'CENTEL.BK', 'COM7.BK', 'CPALL.BK', 'CPF.BK', 'CPN.BK', 'CRC.BK', 'DELTA.BK', 'EGCO.BK', 'GPSC.BK', 'GULF.BK', 'HMPRO.BK', 'IVL.BK', 'KBANK.BK', 'KKP.BK', 'KTB.BK', 'KTC.BK', 'LH.BK', 'MINT.BK', 'MTC.BK', 'OR.BK', 'OSP.BK', 'PTT.BK', 'PTTEP.BK', 'PTTGC.BK', 'RATCH.BK', 'SCB.BK', 'SCC.BK', 'SCGP.BK', 'TCAP.BK', 'TIDLOR.BK', 'TISCO.BK', 'TLI.BK', 'TOP.BK', 'TRUE.BK', 'TTB.BK', 'TU.BK', 'VGI.BK', 'WHA.BK']

In [3]:
set50_symbols = ['ADVANC.BK', 'AOT.BK', 'AWC.BK', 'BANPU.BK', 'BBL.BK', 'BDMS.BK', 'BEM.BK', 'BH.BK', 'BJC.BK', 'BTS.BK', 'CBG.BK', 'CCET.BK', 'CENTEL.BK', 'COM7.BK', 'CPALL.BK', 'CPF.BK', 'CPN.BK', 'CRC.BK', 'DELTA.BK', 'EGCO.BK', 'GPSC.BK', 'GULF.BK', 'HMPRO.BK', 'IVL.BK', 'KBANK.BK', 'KKP.BK', 'KTB.BK', 'KTC.BK', 'LH.BK', 'MINT.BK', 'MTC.BK', 'OR.BK', 'OSP.BK', 'PTT.BK', 'PTTEP.BK', 'PTTGC.BK', 'RATCH.BK', 'SCB.BK', 'SCC.BK', 'SCGP.BK', 'TCAP.BK', 'TIDLOR.BK', 'TISCO.BK', 'TLI.BK', 'TOP.BK', 'TRUE.BK', 'TTB.BK', 'TU.BK', 'VGI.BK', 'WHA.BK']

# Collect the price data

In [4]:
print(len(set50_symbols))

50

In [5]:
# Download monthly Adjusted Close data
df = yf.download(
    tickers=set50_symbols,
    start="2012-01-01",
    end="2026-01-01",
    interval="1mo"
)

/tmp/ipython-input-1139825642.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(
[*********************100%***********************]  50 of 50 completed

In [6]:
df.Close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 168 entries, 2012-01-01 to 2025-12-01
Freq: MS
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ADVANC.BK  168 non-null    float64
 1   AOT.BK     168 non-null    float64
 2   AWC.BK     75 non-null     float64
 3   BANPU.BK   168 non-null    float64
 4   BBL.BK     168 non-null    float64
 5   BDMS.BK    168 non-null    float64
 6   BEM.BK     168 non-null    float64
 7   BH.BK      168 non-null    float64
 8   BJC.BK     168 non-null    float64
 9   BTS.BK     168 non-null    float64
 10  CBG.BK     134 non-null    float64
 11  CCET.BK    168 non-null    float64
 12  CENTEL.BK  168 non-null    float64
 13  COM7.BK    125 non-null    float64
 14  CPALL.BK   168 non-null    float64
 15  CPF.BK     168 non-null    float64
 16  CPN.BK     168 non-null    float64
 17  CRC.BK     71 non-null     float64
 18  DELTA.BK   168 non-null    float64
 19  EGCO.BK    168 non-null    float64
 20  GPSC.BK    128 non-null    float64
 21  GULF.BK    9 non-null      float64
 22  HMPRO.BK   168 non-null    float64
 23  IVL.BK     168 non-null    float64
 24  KBANK.BK   168 non-null    float64
 25  KKP.BK     168 non-null    float64
 26  KTB.BK     168 non-null    float64
 27  KTC.BK     168 non-null    float64
 28  LH.BK      168 non-null    float64
 29  MINT.BK    168 non-null    float64
 30  MTC.BK     134 non-null    float64
 31  OR.BK      59 non-null     float64
 32  OSP.BK     87 non-null     float64
 33  PTT.BK     168 non-null    float64
 34  PTTEP.BK   168 non-null    float64
 35  PTTGC.BK   168 non-null    float64
 36  RATCH.BK   168 non-null    float64
 37  SCB.BK     45 non-null     float64
 38  SCC.BK     168 non-null    float64
 39  SCGP.BK    63 non-null     float64
 40  TCAP.BK    168 non-null    float64
 41  TIDLOR.BK  8 non-null      float64
 42  TISCO.BK   168 non-null    float64
 43  TLI.BK     42 non-null     float64
 44  TOP.BK     168 non-null    float64
 45  TRUE.BK    168 non-null    float64
 46  TTB.BK     168 non-null    float64
 47  TU.BK      168 non-null    float64
 48  VGI.BK     159 non-null    float64
 49  WHA.BK     158 non-null    float64
dtypes: float64(50)
memory usage: 66.9 KB

In [7]:
data_counts = df.count()
print('Number of symbols that have less than 120 data points')
print(len(data_counts[data_counts < 120]['Close']))
print('\n\n')
data_counts[data_counts < 132]['Close']

Number of symbols that have less than 120 data points
9

Ticker
AWC.BK        75
COM7.BK      125
CRC.BK        71
GPSC.BK      128
GULF.BK        9
OR.BK         59
OSP.BK        87
SCB.BK        45
SCGP.BK       63
TIDLOR.BK      8
TLI.BK        42
dtype: int64

# Export As CSV

In [8]:
if True:
  # Create separate DataFrames for each column
  df_close  = df['Close']

  # Export each DataFrame to a CSV file
  df_close.to_csv('set50_stock_monthly_close.csv')